@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100..800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.logo {
    width: 160px;
    height: 160px;
    margin-left: 15%;
    margin-top: 0%;

}

#logo {
    margin-left: 15%;
    margin-top: 0%;

}

.menu-icon {
    display: none;
    margin-left: 30%;
    margin-top: 8%;
    font-size: 34px;
    color: white;
    cursor: pointer;
}



a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'TT Chocolates Trl', sans-serif;
    font-weight: 500;
}

.first {
    background-image: url("../public/assest/back.png");
    background-size: cover;
    background-position: top;
    height: 700px;
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    width: 100%;
}

nav {
    background-color: white;
    box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}



.li {
    list-style: none;
    margin-left: 30px;
}

.ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 200px;
    width: auto;
}

.homecontent {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 6%;
}

h1 {
    font-size: 40px;
    font-family: 'TT Chocolates Trl', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.count {
    font-size: 35px;
    font-weight: 400;
}

.h1 {
    padding-top: 7%;
    font-size: 45px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-family: 'TT Chocolates Trl', sans-serif;
    font-weight: 400;
    color: #EDBE38;
}

.counter {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.join {
    background-color: #0F7DFF;
    width: 160px;
    height: 37px;
    color: white;
    font-family: 'TT Chocolates Trl', sans-serif;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(3, 15, 125, 0.5);
    border: none;
}

.scroll {
    font-size: 3rem;
    color: #56BDA3;
    animation: scroll-vertical 2s infinite;
    margin-top: 0%;
}

@keyframes scroll-vertical {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.menu-icon {
    display: none;
    margin-left: 30%;
    margin-top: 8%;
    font-size: 34px;
    color: white;
    cursor: pointer;
}

.close-btn {
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.ul-desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 200px;
}

.ul-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    padding-top: 10%;
    left: 0;
    width: 100%;
    height: 50%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    transition: 0.3s ease-in-out;
}

.ul-mobile>div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: -75%;
}

.ul-mobile>div>li {
    margin-bottom: 20px;
}

.ul-mobile>div>li>a {
    font-size: 25px;
    font-weight: 400;
    color: #717171;
}

.nav-active {
    display: flex;
}

.nav-active .close-btn {
    display: block;
}

@media (max-width: 576px) {
    .first {
        background-image: url("../public/assest/backphone.png");
    }

    .logo {
        width: 160px;
        height: 160px;
        margin-left: 0%;
        margin-top: 0%;

    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .ul {
        margin-left: -65%;
        margin-top: 70%;
        background-color: #ffffff;
        width: 100%;
        height: 400px;

    }

    .ul>li {
        padding-left: 100%;
        padding-right: 100%;
        margin-bottom: 20px;
        margin-left: 0%;
    }

    .menu-icon {
        display: block;
        color: black;
    }

    nav ul.show {
        display: flex;
    }

    nav {
        width: 100%;
    }

    .h1 {
        font-size: 28px;
        width: 90%;
        margin-left: 5%;
        font-family: 'TT Chocolates Trl', sans-serif;
        font-weight: 500;
        color: #ffffff;
        padding-top: 40%;
        text-align: center;
        font-weight: 600;
    }

    h2 {
        font-size: 16px;
        width: 80%;
        margin-left: 8%;
        font-family: 'TT Chocolates Trl', sans-serif;
        font-weight: 500;
        color: #EDBE38;
    }

    h3 {
        font-size: 15px;
        font-family: 'Saira ExtraCondensed', sans-serif;
        font-weight: 500;
        color: #4266B0;
    }

    .counter {
        width: 50%;
        margin-top: -5%;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 25px;
    }

    .count {
        font-size: 23px;
        font-weight: 400;
    }

    .btn1 {
        margin-right: 1%;
        margin-top: 5%;
        width: 147px;
        height: 41px;
        border-radius: 100px;
        background: none;
        border-color: #ffffff;
        border: 2px solid #ffffff;
        box-shadow: 0px 2px 20px 0px rgba(255, 255, 255, 0.5)
        ;
    }

    .btn1>a {
        color: #ffffff;
        font-weight: 500;
    }

    .btn2 {
        margin-left: 1%;
        width: 147px;
        border-radius: 100px;
        border: none;
        background-color: black;
        box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.5);

        height: 41px;
    }

    .menu-icon {
        display: block;
        color: black;
        margin-top: 0%;
    }

    .close-btn {
        display: block;
        color: #000;
    }

    .ul-desktop {
        display: none;
    }

    .close-btn {
        font-size: 40px;
        margin-left: 200%;
        margin-top: -5%;
    }

    .close {
        margin-left: 180%;
        margin-top: -5%;
        width: 24px;
        height: auto;
    }

    .join {
        width: 225%;
        height: 50px;
        font-size: 18px;
        margin-top: 30px;
    }

    #logo {
        margin-left: 2%;
        margin-top: 2%;
    }
}