footer {
    margin-top: 100px;
    height: 50px;

}

footer>center {
    height: 100%;
    background-color: #262626;
    color: white;
}

footer>center>div {
    height: 100%;
    background-color: #262626;
    padding-top: 10px;
    color: white;
}